In [1]:
import pandas as pd
import pickle

In [2]:
df = pd.read_pickle('data/saeb_pb_2015.pkl')
print(len(df))
df.head()

84680

,ano,sigla_uf,id_regiao,id_municipio,area,mascara,ano_mascara,id_escola,rede,escola_publica,...,pandemia_auxilio_professor,pandemia_compreensao_conteudo,pandemia_ambiente_tranquilo,pandemia_apoio_familia,pandemia_apoio_colegas,pretensao_futura,opiniao_teste,opiniao_frase_1,opiniao_frase_2,opiniao_frase_3
0,2015,PB,2,2500304,2,None,<NA>,25062638,2,1,...,None,None,None,None,None,None,None,None,None,None
1,2015,PB,2,2500304,2,None,<NA>,25063235,3,1,...,None,None,None,None,None,None,None,None,None,None
2,2015,PB,2,2500502,2,None,<NA>,25253948,3,1,...,None,None,None,None,None,None,None,None,None,None
3,2015,PB,2,2500502,2,None,<NA>,25253948,3,1,...,None,None,None,None,None,None,None,None,None,None
4,2015,PB,2,2500502,2,None,<NA>,25253948,3,1,...,None,None,None,None,None,None,None,None,None,None

In [3]:
df1 = pd.read_pickle('data/saeb_pb_2017.pkl')
print(len(df1))
df1.head()

93250

,ano,sigla_uf,id_regiao,id_municipio,area,mascara,ano_mascara,id_escola,rede,escola_publica,...,pandemia_auxilio_professor,pandemia_compreensao_conteudo,pandemia_ambiente_tranquilo,pandemia_apoio_familia,pandemia_apoio_colegas,pretensao_futura,opiniao_teste,opiniao_frase_1,opiniao_frase_2,opiniao_frase_3
0,2017,PB,2,2500106,2,None,<NA>,25033670,3,1,...,None,None,None,None,None,None,None,None,None,None
1,2017,PB,2,2500304,2,None,<NA>,61199441,2,1,...,None,None,None,None,None,None,None,None,None,None
2,2017,PB,2,2500304,2,None,<NA>,61199441,2,1,...,None,None,None,None,None,None,None,None,None,None
3,2017,PB,2,2500403,2,None,<NA>,25122150,3,1,...,None,None,None,None,None,None,None,None,None,None
4,2017,PB,2,2500502,2,None,<NA>,25253948,3,1,...,None,None,None,None,None,None,None,None,None,None

In [4]:
print(df1.dropna(axis=1, how='all').columns)
df1 = df1.dropna(axis=1, how='all')

Index(['ano', 'sigla_uf', 'id_regiao', 'id_municipio', 'area', 'id_escola',
       'rede', 'escola_publica', 'localizacao', 'id_turma', 'turno', 'serie',
       'id_aluno', 'situacao_censo', 'disciplina', 'preenchimento_caderno',
       'caderno', 'bloco_1', 'bloco_2', 'respostas_bloco_1',
       'respostas_bloco_2', 'indicador_proficiencia', 'indicador_prova_brasil',
       'estrato', 'peso_aluno', 'proficiencia', 'erro_padrao',
       'proficiencia_saeb', 'erro_padrao_saeb', 'desempenho_aluno',
       'preenchimento_questionario', 'sexo', 'raca_cor', 'mes_nascimento',
       'ano_nascimento', 'idade', 'faixa_etaria', 'mora_mae', 'mora_pai',
       'quantidade_pessoas_domicilio', 'possui_trabalho',
       'possui_casa_dormitorio', 'possui_casa_banheiro', 'possui_automovel',
       'possui_geladeira', 'possui_geladeira_freezer', 'possui_freezer',
       'possui_maquina_lavar_roupa', 'possui_radio', 'possui_tv',
       'possui_videocassete_dvd', 'possui_computador',
       'possui_empregada_domestica_cinco_dias', 'escolaridade_mae',
       'mae_sabe_ler_escrever', 'mae_le', 'escolaridade_pai',
       'pai_sabe_ler_escrever', 'pai_le', 'responsaveis_conversam_escola',
       'responsaveis_incentivam_realizacao_licao_casa',
       'responsaveis_incentivam_estudos', 'responsaveis_incentivam_leitura',
       'responsaveis_incentivam_comparecer_aulas',
       'responsaveis_comparecem_reuniao_pais', 'inicio_estudos', 'rede_ef',
       'reprovacao', 'evasao_escolar_ate_final_ano', 'tempo_lazer',
       'tempo_trabalho_domestico', 'leitura_jornais', 'leitura_livros_geral',
       'leitura_literatura_infantojuvenil', 'leitura_historia_quadrinhos',
       'leitura_revista_comportamento', 'leitura_revistas_geral',
       'leitura_internet', 'frequenta_biblioteca', 'frequenta_cinema',
       'frequenta_espetaculo_exposicao', 'frequenta_festas_comunidade',
       'gosta_estudar_disciplina', 'faz_licao_casa', 'correcao_licao_casa',
       'utiliza_biblioteca_escola', 'pretensao_futura'],
      dtype='object')

In [5]:
print(df.dropna(axis=1, how='all').columns)
df = df.dropna(axis=1, how='all')

Index(['ano', 'sigla_uf', 'id_regiao', 'id_municipio', 'area', 'id_escola',
       'rede', 'escola_publica', 'localizacao', 'id_turma', 'turno', 'serie',
       'id_aluno', 'situacao_censo', 'disciplina', 'preenchimento_caderno',
       'caderno', 'bloco_1', 'bloco_2', 'respostas_bloco_1',
       'respostas_bloco_2', 'indicador_proficiencia', 'indicador_prova_brasil',
       'estrato', 'peso_aluno', 'proficiencia', 'erro_padrao',
       'proficiencia_saeb', 'erro_padrao_saeb', 'desempenho_aluno',
       'preenchimento_questionario', 'sexo', 'raca_cor', 'mes_nascimento',
       'ano_nascimento', 'idade', 'faixa_etaria', 'mora_mae', 'mora_pai',
       'quantidade_pessoas_domicilio', 'possui_trabalho',
       'possui_casa_dormitorio', 'possui_casa_banheiro', 'possui_automovel',
       'possui_geladeira', 'possui_geladeira_freezer', 'possui_freezer',
       'possui_maquina_lavar_roupa', 'possui_radio', 'possui_tv',
       'possui_videocassete_dvd', 'possui_computador',
       'possui_empregada_domestica_cinco_dias', 'escolaridade_mae',
       'mae_sabe_ler_escrever', 'mae_le', 'escolaridade_pai',
       'pai_sabe_ler_escrever', 'pai_le', 'responsaveis_conversam_escola',
       'responsaveis_incentivam_realizacao_licao_casa',
       'responsaveis_incentivam_estudos', 'responsaveis_incentivam_leitura',
       'responsaveis_incentivam_comparecer_aulas',
       'responsaveis_comparecem_reuniao_pais', 'inicio_estudos', 'rede_ef',
       'reprovacao', 'evasao_escolar_ate_final_ano', 'tempo_lazer',
       'tempo_trabalho_domestico', 'leitura_jornais', 'leitura_livros_geral',
       'leitura_literatura_infantojuvenil', 'leitura_historia_quadrinhos',
       'leitura_revista_comportamento', 'leitura_revistas_geral',
       'leitura_internet', 'frequenta_biblioteca', 'frequenta_cinema',
       'frequenta_espetaculo_exposicao', 'frequenta_festas_comunidade',
       'gosta_estudar_disciplina', 'faz_licao_casa', 'correcao_licao_casa',
       'utiliza_biblioteca_escola', 'pretensao_futura'],
      dtype='object')

In [6]:
# read colunas_final to get the columns to use
with open('data/colunas_final.txt', 'r') as f:
    colunas = f.read().splitlines()

# only use columns if they are present in dataframe
colunas_df1 = [col for col in colunas if col in df.columns]
colunas_df2 = [col for col in colunas if col in df1.columns]

df = df[colunas_df1]
df1 = df1[colunas_df2]

In [7]:
print(len(df1.columns))
print(len(df.columns))

46
46

In [8]:
print(df1.columns)

Index(['ano', 'sigla_uf', 'escola_publica', 'id_aluno', 'situacao_censo',
       'disciplina', 'proficiencia', 'erro_padrao', 'proficiencia_saeb',
       'erro_padrao_saeb', 'desempenho_aluno', 'sexo', 'raca_cor',
       'ano_nascimento', 'idade', 'escolaridade_mae', 'mae_sabe_ler_escrever',
       'mae_le', 'escolaridade_pai', 'pai_sabe_ler_escrever', 'pai_le',
       'responsaveis_incentivam_realizacao_licao_casa',
       'responsaveis_incentivam_estudos', 'responsaveis_incentivam_leitura',
       'responsaveis_incentivam_comparecer_aulas', 'possui_computador',
       'tempo_lazer', 'leitura_jornais', 'leitura_livros_geral',
       'leitura_literatura_infantojuvenil', 'leitura_historia_quadrinhos',
       'leitura_revista_comportamento', 'leitura_revistas_geral',
       'leitura_internet', 'frequenta_biblioteca', 'frequenta_cinema',
       'frequenta_espetaculo_exposicao', 'frequenta_festas_comunidade',
       'gosta_estudar_disciplina', 'faz_licao_casa', 'correcao_licao_casa',
       'utiliza_biblioteca_escola', 'rede', 'id_escola', 'serie', 'turno'],
      dtype='object')

In [9]:
print(df.columns)

Index(['ano', 'sigla_uf', 'escola_publica', 'id_aluno', 'situacao_censo',
       'disciplina', 'proficiencia', 'erro_padrao', 'proficiencia_saeb',
       'erro_padrao_saeb', 'desempenho_aluno', 'sexo', 'raca_cor',
       'ano_nascimento', 'idade', 'escolaridade_mae', 'mae_sabe_ler_escrever',
       'mae_le', 'escolaridade_pai', 'pai_sabe_ler_escrever', 'pai_le',
       'responsaveis_incentivam_realizacao_licao_casa',
       'responsaveis_incentivam_estudos', 'responsaveis_incentivam_leitura',
       'responsaveis_incentivam_comparecer_aulas', 'possui_computador',
       'tempo_lazer', 'leitura_jornais', 'leitura_livros_geral',
       'leitura_literatura_infantojuvenil', 'leitura_historia_quadrinhos',
       'leitura_revista_comportamento', 'leitura_revistas_geral',
       'leitura_internet', 'frequenta_biblioteca', 'frequenta_cinema',
       'frequenta_espetaculo_exposicao', 'frequenta_festas_comunidade',
       'gosta_estudar_disciplina', 'faz_licao_casa', 'correcao_licao_casa',
       'utiliza_biblioteca_escola', 'rede', 'id_escola', 'serie', 'turno'],
      dtype='object')

In [10]:
# merge dfs
df = pd.concat([df, df1], axis=0)
print(len(df))
df.head()

177930

,ano,sigla_uf,escola_publica,id_aluno,situacao_censo,disciplina,proficiencia,erro_padrao,proficiencia_saeb,erro_padrao_saeb,...,frequenta_espetaculo_exposicao,frequenta_festas_comunidade,gosta_estudar_disciplina,faz_licao_casa,correcao_licao_casa,utiliza_biblioteca_escola,rede,id_escola,serie,turno
0,2015,PB,1,17506194,0,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,2,25062638,9,1
1,2015,PB,1,17506813,1,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,3,25063235,9,1
2,2015,PB,1,17566642,1,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,3,25253948,9,1
3,2015,PB,1,17566644,1,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,3,25253948,9,1
4,2015,PB,1,17566694,1,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,3,25253948,9,2

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 177930 entries, 0 to 93249
Data columns (total 46 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   ano                                            177930 non-null  Int64
 1   sigla_uf                                       177930 non-null  object
 2   escola_publica                                 177930 non-null  Int64
 3   id_aluno                                       177930 non-null  object
 4   situacao_censo                                 177930 non-null  Int64
 5   disciplina                                     177930 non-null  object
 6   proficiencia                                   133774 non-null  float64
 7   erro_padrao                                    133774 non-null  float64
 8   proficiencia_saeb                              133774 non-null  float64
 9   erro_padrao_saeb                               133774 non-null  float64
 10  desempenho_aluno                               133774 non-null  object
 11  sexo                                           128212 non-null  object
 12  raca_cor                                       126588 non-null  object
 13  ano_nascimento                                 124778 non-null  Int64
 14  idade                                          124778 non-null  Int64
 15  escolaridade_mae                               127870 non-null  object
 16  mae_sabe_ler_escrever                          128762 non-null  object
 17  mae_le                                         128890 non-null  object
 18  escolaridade_pai                               129970 non-null  object
 19  pai_sabe_ler_escrever                          129232 non-null  object
 20  pai_le                                         127132 non-null  object
 21  responsaveis_incentivam_realizacao_licao_casa  130130 non-null  object
 22  responsaveis_incentivam_estudos                130542 non-null  object
 23  responsaveis_incentivam_leitura                129832 non-null  object
 24  responsaveis_incentivam_comparecer_aulas       129784 non-null  object
 25  possui_computador                              129276 non-null  object
 26  tempo_lazer                                    129858 non-null  object
 27  leitura_jornais                                120570 non-null  object
 28  leitura_livros_geral                           122158 non-null  object
 29  leitura_literatura_infantojuvenil              118714 non-null  object
 30  leitura_historia_quadrinhos                    117888 non-null  object
 31  leitura_revista_comportamento                  119608 non-null  object
 32  leitura_revistas_geral                         118058 non-null  object
 33  leitura_internet                               121892 non-null  object
 34  frequenta_biblioteca                           127226 non-null  object
 35  frequenta_cinema                               127124 non-null  object
 36  frequenta_espetaculo_exposicao                 127076 non-null  object
 37  frequenta_festas_comunidade                    126286 non-null  object
 38  gosta_estudar_disciplina                       127361 non-null  object
 39  faz_licao_casa                                 129303 non-null  object
 40  correcao_licao_casa                            129633 non-null  object
 41  utiliza_biblioteca_escola                      129646 non-null  object
 42  rede                                           177930 non-null  object
 43  id_escola                                      177930 non-null  object
 44  serie                                          177930 non-null  Int64
 45  turno                                          177930 non-null  object
dtypes: Int64(6), float64(4), object(36)
memory usage: 64.8+ MB

In [12]:
save = False
if save:
    df.to_pickle('data/saeb_pb_filtered.pkl')

In [13]:
# save first row as dictionary to file
with open('data/random_row.json', 'w') as f:
    # transform 'disciplina' column to index
    _ = df.set_index('disciplina')
    f.write(_[_['id_aluno'] == _.sample()['id_aluno'].values[0]].to_json(orient='index'))

In [14]:
len(df['id_aluno'].unique())

88965